body{
    font-family: 'Jost', sans-serif;

}
.mybackround{
    background-color: #E9EDF3;
}
.nav-link{
  font-size: 18px;
  font-weight: 500;
  color: black;
}
.nav-item:hover .nav-link{
    color: #7153d9;
}
.main-subtitle{
    font-size: 24px;
    color: #7153d9;
    letter-spacing: 8px;
    font-weight: 500;
}
.main-title{
    font-size: 72px;
    font-weight: 500;
}
.main-p{
    font-size: 24px;
    font-weight: 400;
    color: #54545f;
}
.main-btn{
background: linear-gradient(135deg, #4526b1 0%, #5435be 45%, #7153d9 66%);
padding: 20px 45px;
border-radius: 35px;
text-decoration: none;
color: white;
}
.bg-white {
    background: #E9EDF3!important;
    
  }
  
  .bg-white.scrolled {
    background:white !important;
  }
.call-icon{
    background: linear-gradient(135deg, #4526b1 0%, #5435be 45%, #7153d9 66%);
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
}
.nav-call-us a{
text-decoration: none;
margin-top: -13px;
color: black;
}
.service-subtitle{
    font-size: 18px;
}
.service-title{
    font-size: 60px;
}
.service-p{
    font-size: 21px;
    color: #8d8e99;
}
.mycard{
    box-shadow: 0px 12px 42px rgba(69, 38, 177, 0.1), 11px 6px 25px rgba(69, 38, 177, 0.1);
}
.mycard img{
    margin-top: -39px;
}
.myp{
    color:#54545f ;
    font-size: 18px;
    font-weight: 400; 
}
.readmore-btn{
    color:black ;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    transition: .3s;
}
.readmore-btn:hover{
    margin-left: 10px;
    color:  #7153d9;
} 
.bi{
    margin-top: -3px;
}
.blog-btn{
    background-color: #e2c4ff;
    color: black;
    width: 600;
    padding: 15px 45px;
    border-radius: 35px;
    text-decoration: none;
}
.blog-btn:hover{
    background-color: #7153d9;
    color: white;
}
.blog-title{
   color: black; 
   text-decoration: none;
}
.blog-title:hover{
color:#0d5efd ;
}
.blog-category{
 color: #7153d9;  
 font-size: 16px;
}
.feature-icon{
    background-color:#f2f5fb ;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    text-align: center;
    line-height: 113px;
}